@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.divPlan{
    font-family: "Ubuntu";
}
.planDiv2{
    display: flex;
    gap: 10px;
    margin-top: 10%;
}
.planDiv2Div{
    border: 1px solid hsl(231, 11%, 63%) ;
    border-radius: 15px;
    width: 150px;
    height: 180px;
}
.planDiv2Div:hover{
    border: 1px solid #ba30ba  ;
}
.clicked {
  background-color: hsl(231, 11%, 63%);
}
.planDiv1{
    padding-top: 10%;
}
.planImg{
    margin-top: 15%;
    margin-left: 10%;
}
.planH3Card{
    margin-left: 10%;
    color:hsl(213, 88%, 33%) ;
    margin-bottom: 0;
    margin-top: 40%;
}
.planPCard{
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    color:hsl(231, 11%, 63%) ;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #002855; 
}

input:checked + .slider:before {
  transform: translateX(16px);
}
.planDiv3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    background-color: hsla(206, 94%, 87%, 0.488);
}
.planBtn{
    color: white;
    background-color:hsl(213, 96%, 18%) ;
    border-radius: 8px;
    padding: 15px 25px;
    height: 55px;
    outline: none;
    border: 1px solid;
    margin-top: 17%;
    margin-left: 63%;
    cursor: pointer;
    font-weight: bold;
}
.planDiv4{
    display: flex;
}
.planDiv4P{
    margin-top: 20%;
    cursor: pointer;
    color:hsl(213, 96%, 18%) ;
}
.planDiv3H31{
    font-size: 17px;
    color: hsl(231, 11%, 63%) ;
}
.planDiv3H32{
    font-size: 17px;
    color: hsl(213, 96%, 18%);
}