@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.divCardP{
    font-family: "Ubuntu";
    color: white;
    height: 600px;
}
.divCard1{
    margin-top: -200%;
}
.cardDiv{
    display: flex;
    gap: 30px;
    align-items: center;
}
.cardDivP1{
    margin-left: 15%;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 15px;
    font-weight: bold;
}
.cardDivP1:hover{
    background-color: hsl(206, 94%, 87%);
    color: black;
    font-weight: bold;
}
.cardDiv.active .cardDivP1 {
    background-color: hsl(206, 94%, 87%);
    color: black;
    font-weight: bold;
}

.cardDivP2{
    margin: 0;
    padding: 0;
    color: hsl(229, 24%, 87%);
    font-size: 13px;
}
.cardDivP3{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

@media (max-width: 576px) {
    .divCardP{
        margin-left: 10%;
    }
    .cardImg{
        height: 500px;
        width: 250px;
    }
    .divCard1{
        margin-top: -60%;
        margin-left: -10%;
        font-size: 12px;
    }
}