@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.divAdd{
    font-family: "Ubuntu";
    padding-top: 10%;
}
.addon-card{
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid hsl(229, 24%, 87%) ;
    border-radius: 15px;
    margin-top: 5%;
    width: 450px;
}
.addon-card:hover{
    border: #ba30ba 1px solid;
}
.price1{
    margin-left: 15%;
    color: #ba30ba ;
    font-weight: bold;
}
.price2{
    margin-left: 23%;
    color: #ba30ba ;
    font-weight: bold;
}
.price3{
    margin-left: 12%;
    color: #ba30ba ;
    font-weight: bold;
}

.addOnH3{
    color: hsl(213, 96%, 18%);
    margin-bottom: 0;
}

.addOnP{
    margin-top: 0;
    color:hsl(231, 11%, 63%) ;
}
.check{
    margin-left: 5%;
}