body{
    background-color: hsl(217, 100%, 97%) ;
}
.divApp{
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 900px;
    margin-left: 20%;
    gap: 50px;
    transition: 0.3s ease;
}
.appCard{
    margin-top: 3%;
    margin-left: 3%;
}

@media (max-width: 576px) {
    .divApp{
        flex-direction: column;
        margin-left: 0% ;
        margin-top: 0%;
        width: 500px;
    }
    body{
        overflow-x: hidden;
    }
}
@media (min-width: 776px) and (max-width: 990px) {
    .divApp{
        margin-left: 0% ;
        width: 850px;
    }
    
}
@media (min-width: 991px) and (max-width: 1060px) {
    .divApp{
        margin-left: 0% ;
        width: 900px;
    }
    
}
@media (min-width: 577px) and (max-width:775px) {
    .divApp{
        flex-direction: column;
        margin-left: 5% ;
        margin-top: 0%;
        width: 600px;
    }
    body{
        overflow-x: hidden;
    }
}