@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.divFinish{
    font-family: "Ubuntu";
    padding-top: 10%;
}
.finishDiv2Div1{
    display: flex;
    align-items: center;
    
}

.finishDiv2{
    width: 400px;
    background-color:hsl(217, 100%, 97%) ;
    margin-top: 10%;
    border-radius: 5px;
    height: auto;
}
.finishDiv5H3{
    color:hsl(214, 96%, 35%) ;
    margin-bottom: 0;
    margin-left: 15%;
}
.finishDiv5P{
    margin-left: 15%;
    color:hsl(231, 11%, 63%) ;
    text-decoration: underline;
    margin-top: 0;
    cursor: pointer;
    font-size: 14px;
}
.finishDiv2Div1P{
    margin-left: 40%;
    color: hsl(214, 96%, 35%) ;
    font-weight: bold;
}
.finishDiv2Div2{
    display: flex;
    gap: 30px;
}
.finishDiv2Div2{
    margin-top: 5%;
    border-top: 1px solid hsl(229, 24%, 87%);
    margin-left: 5%;
    margin-right: 10%;
}

.finishDiv2Div2P1{
    color:hsl(231, 11%, 63%) ;
    margin-top: 10%;
    padding-bottom: 5%;
}
.finishDiv2Div2P2{
    color: hsl(214, 96%, 35%);
    font-weight: bold;
    margin-left: 42%;
    margin-top: 10%;
}
.finishDiv3{
    display: flex;
    align-items: center;
}
.finishDiv3P1{
    color:hsl(231, 11%, 63%);
    margin-left: 5%;
}
.finishDiv3P2{
    color:hsl(243, 100%, 62%) ;
    margin-left: 35%;
    font-weight: bold;
    font-size: 20px;
}

.finishP4{
    margin-top: 35%;
}
.finishBtn4{
    margin-left: 58%;
    margin-top: 30%;
}

@media (max-width: 576px) {
    .finishDiv2{
        margin-left: 8%;
    }
    .finishDiv3{
        margin-left: 8%;
    }
    .finishP4{
        margin-top: 15%;
        margin-left: 10%;
    }
    .finishBtn4{
        margin-top: 12%;
        margin-left: 45%;
    }
}
@media (min-width: 577px) and (max-width:775px)  {
     .finishDiv2{
        margin-left: 15%;
    }
    .finishDiv3{
        margin-left: 13%;
    }
    .finishP4{
        margin-top: 15%;
        margin-left: 17%;
    }
    .finishBtn4{
        margin-top: 12%;
        margin-left: 38%;
    }
}
